In [1]:
t1 = ()
type(t1)

tuple

In [2]:
t4 = 1,2,3
type(t4)

tuple

In [12]:
a = 0
while a < 10:
    a = a + 1
    print(a)

1
2
3
4
5
6
7
8
9
10

In [13]:
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark >= 60: 
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [14]:
marks = [90, 25, 67, 45, 80]
number = 0 
for mark in marks:
    number = number + 1
    if mark < 60:
        continue
    print('%d번 학생 축하합니다. 합격입니다.' %number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [15]:
a  = range(10)
a

range(0, 10)

In [27]:
add = 0
for i in range(1,11):
    add = add + 1
    print(add)

1
2
3
4
5
6
7
8
9
10

In [24]:
add = 0
for i in range(1,11):
    add = add + i

In [25]:
print(add)

55

In [74]:
for i in range(1,11): #for문 홀수
    if i % 2 == 1:
        print(i)

1
3
5
7
9

In [42]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    print(number)

0
1
2
3
4

In [43]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j,end = " ")  #end = " "다음줄로 넘기지 않고 그 줄에 계속해서 출력하기 위해
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [72]:
for i in range (0,10):  #for문 홀수
    if i % 2 != 1: continue
    print(i)

1
3
5
7
9

In [76]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [77]:
a = [1,2,3,4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [78]:
a = "Life is too short, you need python"   #연습문제1

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

In [ ]:
sum = 0 #2번째 변수 설정
i = 1 # 1번째
while i <= 1000:
    if i % 3 == 0: #3의 배수인지 확인 홀짝은 if문 이용
         sum = sum + i
    i = i + 1
print(sum)

In [80]:
sum = 0    #연습문제2
i = 1 
while i <= 1000:
    if i % 3 == 0: 
         sum = sum + i
    i = i + 1
print(sum)

166833

In [83]:
i = 0        #연습문제3
while True: #무한루프 true, if, break
    i = i + 1
    if i > 5: break
    print('*' * i)

*
**
***
****
*****

In [89]:
# for문을 사용해서 1부터 100까지의 숫자들의 합을 출력해 보자.
sum = 0
for i in range (1,101):
    sum = sum + i
    
print(sum)

5050

In [90]:
#######################################################################
#함수

In [91]:
def add(a,b):
    return a + b

In [92]:
a = 3
b = 4
c = add(a,b)

In [93]:
print(c)

7

In [95]:
d = add(1,2)
print(d)

3

In [96]:
def say(): # 입력값이 없는 함수
    return 'hi'
a = say()

print(a)

hi

In [97]:
def add(a,b):  # 결과값이 없는 함수 (결과값은 오직 return이 받는다.)
    print('%d, %d이 합은 %d입니다.'%(a,b,a+b))

In [98]:
add(3,4)

3, 4이 합은 7입니다.

In [99]:
a = add(3,4) #결과값이 없어 none이 나옴
print(a)

3, 4이 합은 7입니다.
None

In [100]:
def say(): # 입력값(인수), 결과값이 없는 함수
    print('hi')

say()

hi

In [101]:
def add_many(*args): #여러개의 입력값을 받는 함수
    result = 0
    for i in args:
        result = result + i
    return result

In [103]:
result = add_many(1,2,3)
print(result)

6

In [104]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [120]:
def add_mul(choice,*args): #변수 2개 사용
    if choice == 'add':
        result = 0
        for i in args:
            result = result + i
    elif choice == 'mul':
        result = 1
        for i in args:
            result = result * i           
    return result

In [122]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

In [108]:
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

In [123]:
def add_and_mul(a,b): #함수의 결과값은 언제나 하나이다.
    return a+b, a*b

In [124]:
result = add_and_mul(3,4)

In [125]:
print(result) #튜플값 하나

(7, 12)

In [126]:
result1, result2 = add_and_mul(3,4)
print(result1)

7

In [127]:
print(result2)

12

In [128]:
def add_and_mul(a,b):
    return a+b
    return a*b

In [129]:
result = add_and_mul(2,3)
print(result)

5

In [130]:
def say_myself(name, old, man=True): #매개변수에 초깃값 미리 설정하기
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man:  #true값
        print("남자입니다.")
    else: 
        print("여자입니다.")

In [131]:
say_myself('박응용',27)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [132]:
say_myself('박응용',27,True)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [134]:
say_myself('박응선',27,False)

나의 이름은 박응선 입니다.
나이는 27살입니다.
여자입니다.

In [135]:
a = 1 #함수 안에서 선언한 변수의 효력범위(error날 경우)
def vartest(a):
    a = a + 1  
    
vartest(a)
print(a)

1

In [136]:
#지역변수: 특정 범위안에서만 통용
#전역변수: 전체에서 통용

In [139]:
def vartest(a):
    a = a + 1

In [140]:
vartest(3) #return이 없기 때문에 위에있는 135값이 1이 나온다.
print(a)

1

In [141]:
a = 1
def vartest(a):
    a = a + 1
    return a   #a를 가지고 나가라!

a = vartest(a)
print(a)

2

In [143]:
a = 1
def vartest():
    global a  #global 사용하지 않는 것이 좋지 않다.
    a = a + 1
    
vartest()
print(a)

2

In [144]:
#lambda 함수를 줄여준다.

In [145]:
add = lambda a, b: a + b #def함수보다 간결하다.
result = add(3,4)
print(result)

7

In [148]:
def add(a,b): #위에 람다함수와 비교
    return a+b

result = add(3,4)
print(result)

7

In [149]:
########################################
#input

In [150]:
a = input() #input은 입력되는 모든 것을 문자열로 취급한다.

Life is too short, you need python

In [151]:
a

'Life is too short, you need python'

In [152]:
a = input()

12345

In [155]:
number = int(input('숫자를 입력하세요:')) #int사용하면 문자를 숫자로 변환됨

숫자를 입력하세요:123

In [156]:
number

123

In [157]:
a = 123 ####################print함수
print(a)

123

In [158]:
a = 'python'
print(a)

python

In [159]:
a = [1,2,3]
print(a)

[1, 2, 3]

In [160]:
 print("life" "is" "too short")

lifeistoo short

In [161]:
 print("life" + "is" + "too short")

lifeistoo short

In [162]:
 print("life", "is","too short")

life is too short

In [164]:
for i in range(10):
    print(i, end = ' ') #end함수를 사용하면 값이 옆으로 나온다 ' '사용하면 띄어쓰기가능

0 1 2 3 4 5 6 7 8 9

In [165]:
#########################################################
#파일 생성하기

In [168]:
f = open('새파일.txt','w') #파일 open w:쓰기모드-파일에 내용을 쓸 때 사용
f.close() #파일 닫아주기

In [167]:
#윈도우 돋보기 cmd (관리자)명령프롬프트 이용
#dir : 디렉토리안에 있는 파일의 목록 확인
#cd 디렉토리명: 특정 디렉토리 안으로 이동
#md 디렉토리명: 디렉토리 만들기
#rd 디렉토리명: 디렉토리 삭제
#cd..:디렉토리에서 빠져 나올때

In [188]:
f = open('새파일.txt','w')
for i in range(1,10):
    data = '%d번째 줄입니다.\n' %i #파일에 기록해라
    f.write(data)
f.close()

In [171]:
f = open('새파일.txt','r') #파일 읽기모드
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [172]:
f = open('새파일.txt','r')
while True:
    line = f.readline()
    if not line: break #파일에 있는 내용을 없을 때까지 읽고 멈춰라
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

In [173]:
f = open('새파일.txt','r')
lines = f.readlines() #readline을 모두 가져와서 list로 보여준다.
for line in lines: #list 전체를 가져온걸 잘라준다.
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

In [174]:
f = open('새파일.txt','r')
data=f.read() #파일 내용을 문자열로 돌려준다.
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.

In [175]:
f = open('새파일.txt','a') #파일에 새로운 내용 추가하기'a'
for i in range(11,20):
    data = '%d번째 줄입니다.\n' % i
    f.write(data)
f.close()

In [176]:
#with문은 알아서 닫아주어 close를 사용하지 않아도 된다.

In [177]:
#dos 명령어-cmd를 사용해서 새파일.txt 열어서 확인하세요. 
#cmd ->cd documents->cd [tyhonbasic ->type 새파일.txt]

In [178]:
#4장 연습문제

In [179]:
def is_odd(i):
    if i % 2 == 1:
        return print('홀수')
    else:
        return print('짝수')


is_odd(7)

홀수

In [180]:
is_odd(8)

짝수

In [183]:
def average(*args): #몇개가 들어올지 모른다.
    sum = 0
    for i in args:      
        sum = sum + i
    return sum / len(args)

average(1,2,3)

2.0

In [184]:
input1 = int(input("첫번째 숫자를 입력하세요:"))
input2 = int(input("두번째 숫자를 입력하세요:"))

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:1
두번째 숫자를 입력하세요:2
두 수의 합은 3 입니다

In [185]:
input1 = int(input("첫번째 숫자를 입력하세요:"))
input2 = int(input("두번째 숫자를 입력하세요:"))

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 9 입니다

In [186]:
print("".join(["you","need","python"]))

youneedpython

In [189]:
f1 = open("test.txt", 'w')
f1.write("Life is too short")
f1.close()