In [1]:
'''Life is too short, You need python '''

'Life is too short, You need python '

In [4]:
food = "Python's favorite food is perl"

In [5]:
multiline = '''Life is too short You need python
'''

In [7]:
multiline = "Life is too short \You need python"

In [10]:
head = "python"
tail = " is fun!"
head + tail

'python is fun!'

In [2]:
a = "python"
a * 2

'pythonpython'

In [3]:
a = 'Life is too short'
len(a)

17

In [5]:
a = 'Life is too short, You need Python'
a[3]

'e'

In [11]:
a = 'Life is too short, You need Python'

In [12]:
a[0]

'L'

In [13]:
b = a[0] + a[2]

In [14]:
b

'Lf'

In [15]:
a[0:4]

'Life'

In [16]:
a[0:3]

'Lif'

In [17]:
a[19:]

'You need Python'

In [18]:
a[:17]

'Life is too short'

In [19]:
a = '20010331Rainy'

In [20]:
data = a[:8]

In [22]:
weather = a[8:]

In [23]:
data

'20010331'

In [24]:
weather

'Rainy'

In [25]:
'I eat %d apples.' %3

'I eat 3 apples.'

In [32]:
'I eat %s apples.' %'five'

'I eat five apples.'

In [27]:
number = 3
'I eat %d apples.' %number

'I eat 3 apples.'

In [28]:
a = 3
'I eat %d apples.' %a

'I eat 3 apples.'

In [30]:
number = 12
day = 'four'
'I ate %d apples. so I was sick for %s days.' %(number, day)

'I ate 12 apples. so I was sick for four days.'

In [36]:
'%-10sjane' % 'hi'

'hi        jane'

In [37]:
'%0.4f' %3.42134234

'3.4213'

In [38]:
'I eat {0} apples'.format(3)

'I eat 3 apples'

In [39]:
'I eat {0} apples'.format('five')

'I eat five apples'

In [40]:
number = 3
'I eat {0} apples'.format(number)

'I eat 3 apples'

In [41]:
'I eat {0} apples. so I was sick for{day} days.'.format(10,day=3)

'I eat 10 apples. so I was sick for3 days.'

In [42]:
'{0:^10}'.format('hi')

'    hi    '

In [46]:
f'{"hi":^10}'

'    hi    '

In [50]:
f'{"python":!^12}'

'!!!python!!!'

In [52]:
a = 'hobby'
a.count('b')

2

In [54]:
a = 'Python is the best choice'
a.find('o')

4

In [56]:
" ".join('abcd')

'a b c d'

In [57]:
",".join('abcd')

'a,b,c,d'

In [58]:
a = " hi "
a.strip()

'hi'

In [60]:
a = 'Life is too short'
a.replace('Life', 'Your leg')

'Your leg is too short'

In [65]:
a = [0,1,2,3,4,5]
a[0]+a[4]

4

In [66]:
a = [1,2,3,['a','b','c']]
a[0]

1

In [67]:
a[-1]

['a', 'b', 'c']

In [68]:
a[3]

['a', 'b', 'c']

In [69]:
a[-1][0]

'a'

In [70]:
a = [1,2,3,4,5]
a[0:2]

[1, 2]

In [71]:
a = "12345"

In [72]:
a[0:2]

'12'

In [73]:
a = [1,2,3,4,5]
b = a[:2]

In [74]:
c = a[2:]

In [75]:
b

[1, 2]

In [76]:
c

[3, 4, 5]

In [77]:
a = [1,2,3]
b = [2,3,4]
a+b

[1, 2, 3, 2, 3, 4]

In [78]:
a*2

[1, 2, 3, 1, 2, 3]

In [79]:
len(a)

3

In [82]:
str(a[2])+'hi'

'3hi'

In [83]:
a = [1,2,3]
a[2]=4
a

[1, 2, 4]

In [84]:
a = [1,2,3]
del a[1]
a

[1, 3]

In [85]:
a = [1,2,3,4,5]
del a[0:2]
a

[3, 4, 5]

In [86]:
a = [1,2,3]
a.append(4)

In [87]:
a

[1, 2, 3, 4]

In [88]:
a.append([5,6])

In [89]:
a

[1, 2, 3, 4, [5, 6]]

In [90]:
a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [92]:
a = ['a','c','b']
a.sort()
a

['a', 'b', 'c']

In [93]:
a.reverse()

In [94]:
a

['c', 'b', 'a']

In [95]:
a = [1,2,3]
a.index(3)

2

In [97]:
a.index(1)

0

In [98]:
a

[1, 2, 3]