In [1]:
a = 1
b = "[pyhton]"
c = [1,2,3]

In [5]:
a = [1,2,3]

In [6]:
id(a)

1742573242304

In [7]:
a = [1,2,3]
b = a

In [8]:
a

[1, 2, 3]

In [9]:
b

[1, 2, 3]

In [10]:
id(a)

1742573017600

In [11]:
id(b)

1742573017600

In [13]:
a is b #a와 b 가 가리키는 객체는 동일하니? (주석)

True

In [14]:
a[1] = 4
a

[1, 4, 3]

In [15]:
b

[1, 4, 3]

In [16]:
a = [1,2,3]
b = a[:]
a[1] = 4
a

[1, 4, 3]

In [17]:
b

[1, 2, 3]

In [18]:
id(a)

1742573594048

In [19]:
id(b)

1742573571328

In [20]:
from copy import copy
a = [1,2,3]
b=copy(a)

In [21]:
b is a

False

In [22]:
a = 'python'
b = 'life'

In [23]:
a, b = ('python', 'life')
a

'python'

In [24]:
b

'life'

In [25]:
[a,b] = ['python', 'life']

In [26]:
a = b = 'python'

In [27]:
a

'python'

In [28]:
b

'python'

In [29]:
a = 3 
b = 5
a, b = b, a
a

5

In [30]:
b

3

In [31]:
a = 123
a

123

In [32]:
a = -245

In [33]:
a

-245

In [34]:
a = 0

In [35]:
a

0

In [36]:
a = 1.2
a = -3.45
a

-3.45

In [37]:
a = 0o177

In [38]:
a

127

In [40]:
a = 3
b = 4
a + b

7

In [41]:
a * b

12

In [42]:
a / b

0.75

In [47]:
a ^ b
a ** b

81

In [44]:
7 % 3

1

In [45]:
5 % 3

2

4 % 2 # 2로 나누어 나머지 0이 나오면 무조건 짝수

In [48]:
19 % 2 # 2로 나누어 나머지 1이 나오면 무조건 홀수

1

In [49]:
15 % 5 # 어떤수로 나누어 0이 나오면 그 수는 배수

0