<a href="https://colab.research.google.com/github/cge1111/pythonbasic/blob/main/codeup_python_100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("\"!@#$%^&*()'")

# 출력 형식에 필요한 따옴표와 출력할 문자인 따옴표를 구분하기 위하여 \" 또는 \' 를 이용하여 출력할 수 있다.

"!@#$%^&*()'

In [ ]:
a = float(input())
for i in range(3):
  print(a)

0.1
0.1
0.1
0.1

In [ ]:
print("\"C:\\Download\\\'hello'.py\"")

"C:\Download\'hello'.py"

In [ ]:
# 15
a,b = map(int, input().split())
print(f'{a}\n{b}')

c, d = input().split()
print(c)
print(d)

1 2
1
2
1 2
1
2

In [ ]:
# 16
a, b = input().split()
print(f'{b}\n{a}')

a b
b
a

In [ ]:
# 17
a = input()
for i in range(3):
  print(a, end=' ')

a b
a b a b a b

In [ ]:
# 18 시간 입력받아 그대로 출력하기
a, b = input().split(':')
print(a, b, sep = ':')

2:16
2:16

In [ ]:
# 19.[기초-입출력] 연월일 입력받아 순서 바꿔 출력하기
y,m,d = input().split('.')
print(d,m,y,sep="-")

2020.3.4
4-3-2020

In [ ]:
# 20 : [기초-입출력] 주민번호 입력받아 형태 바꿔 출력하기
a, b = input().split('-')
print(f'{a}{b}')
print(a+b)

00-00
0000
0000

In [ ]:
# 21 : [기초-입출력] 단어 1개 입력받아 나누어 출력하기(설명)
a = input()
for i in a:
  print(i)

Hello
H
e
l
l
o

In [ ]:
# 22 : [기초-입출력] 연월일 입력받아 나누어 출력하기
s = input()
print(s[0:2], s[2:4], s[4:])

200304
20 03 04

In [ ]:
a = input().split(':')
print(a[1])

17:23:57
23

In [ ]:
# 24 : [기초-입출력] 단어 2개 입력받아 이어 붙이기(설명)
a, b = input().split()
print(a+b)

hello world
helloworld

In [ ]:
# 25 : [기초-값변환] 정수 2개 입력받아 합 계산하기
a, b = input().split()
print(int(a)+int(b))

123 -123
0


### 10진수 -> 16진수 = '%x(소문자)
### 10진수 -> 16진수 = '%x(대문자)
### 16진수 -> 8진수 = '%o
16진수(hexadecimal)
8진수(octal)
### 영문자 -> 10진수 = 유니코드 (ord)
### 10진수 -> 영문자 = 유니코드 (chr)

a -> b 오는 코드 = ord -> chr

### map은 리스트에만!

In [ ]:
# 27 : [기초-출력변환] 10진 정수 입력받아 16진수로 출력하기1
a = int(input())
print('%x'%a)

255
ff

In [ ]:
# 28 : [기초-출력변환] 10진 정수 입력받아 16진수로 출력하기2
a = int(input())
print('%X'%a)

255
FF

In [ ]:
# 6029 : [기초-값변환] 16진 정수 입력받아 8진수로 출력하기
a = int(input(),16)
print('%o'%a)

f
17

In [ ]:
# 6030 : [기초-값변환] 영문자 1개 입력받아 10진수로 변환하기
s = input()
print(ord(s))

d
100

In [ ]:
# 6031 : [기초-값변환] 정수 입력받아 유니코드 문자로 변환하기
a = int(input())
print(chr(a))

65
A

In [ ]:
# 6032 : [기초-산술연산] 정수 1개 입력받아 부호 바꾸기
a = int(input())
print(a*-1)

3
-3

In [ ]:
# 6033 : [기초-산술연산] 문자 1개 입력받아 다음 문자 출력하기
a = input()
b = ord(a)
print(chr(b+1))

a
b

In [ ]:
# 6034 : [기초-산술연산] 정수 2개 입력받아 차 계산하기
a, b = input().split()
print((int(b)-int(a))*-1)

123 -123
246

In [ ]:
# 6035 : [기초-산술연산] 실수 2개 입력받아 곱 계산하기
a,b = input().split()
print(float(a)*float(b))

0.5 2.0
1.0

In [ ]:
# 6036 : [기초-산술연산] 단어 여러 번 출력하기
a,b = input().split()
print(a*int(b))

love 3
lovelovelove

In [ ]:
# 6037 : [기초-산술연산] 문장 여러 번 출력하기
a = int(input())
b = input()
print(a*b)

3
l i k
l i kl i kl i k

In [ ]:
# 6038 : [기초-산술연산] 정수 2개 입력받아 거듭제곱 계산하기
a, b = input().split()
print(int(a)**int(b))

2 10
1024

In [ ]:
# 6039 : [기초-산술연산] 실수 2개 입력받아 거듭제곱 계산하기
a, b = input().split()
print(float(a)**float(b))

4.0 2.0
16.0

In [ ]:
# 6040 : [기초-산술연산] 정수 2개 입력받아 나눈 몫 계산하기
a, b = input().split()
print(int(a)//int(b))

10 3
3

In [ ]:
# 6041 : [기초-산술연산] 정수 2개 입력받아 나눈 나머지 계산하기
a, b = input().split()
print(int(a)%int(b))

10 3
1

<pre>
# 0406
### 소숫점
round(a, 2)
format(:.2f}

In [ ]:
# 6042 : [기초-값변환] 실수 1개 입력받아 소숫점이하 자리 변환하기
a = float(input())
print(round(a,2))
print(f'{a:.2f}')

1.345
1.34
1.34

In [ ]:
# 6043 : [기초-산술연산] 실수 2개 입력받아 나눈 결과 계산하기
a, b =input().split()
print(f'{float(a)/float(b):.3f}')

10.0 3.0
3.333

In [ ]:
# 6044 : [기초-산술연산] 정수 2개 입력받아 자동 계산하기
a,b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)
print(round(a/b,2))

10 3
13
7
30
3
1
3.33

In [ ]:
# 6045 : [기초-산술연산] 정수 3개 입력받아 합과 평균 출력하기
a,b,c = map(int, input().split())
d = a+b+c
print(f'{d} {d/3:.2f}')

1 2 3
6 2.00

<pre>
2비트<br>
*2 를 계산한 값을 출력해도 되지만,
정수를 2배로 곱하거나 나누어 계산해 주는 비트단위시프트연산자 <<, >>를 이용할 수 있다.
컴퓨터 내부에는 2진수 형태로 값들이 저장되기 때문에,
2진수 형태로 저장되어 있는 값들을 왼쪽(<<)이나 오른쪽(>>)으로
지정한 비트 수만큼 밀어주면 2배씩 늘어나거나 1/2로 줄어드는데,

왼쪽 비트시프트(<<)가 될 때에는 오른쪽에 0이 주어진 개수만큼 추가되고,
오른쪽 비트시프트(>>)가 될 때에는 왼쪽에 0(0 또는 양의 정수인 경우)이나 1(음의 정수인 경우)이 개수만큼 추가되고,
가장 오른쪽에 있는 1비트는 사라진다.


예시
a = 2
b = 10
print(a << b)  #210 = 1024 가 출력된다.


** 비트단위(bitwise)연산자는,
~(bitwise not), &(bitwise and), |(bitwise or), ^(bitwise xor),
<<(bitwise left shift), >>(bitwise right shift)

불(bool) 자료형이란 참(True)과 거짓(False)을 나타내는 자료형이다. 불 자료형은 다음 2가지 값만을 가질 수 있다.

True - 참
False - 거짓

In [ ]:
# 6046 : [기초-비트시프트연산] 정수 1개 입력받아 2배 곱해 출력하기
a = int(input())
print(a<<1)

1024
2048

In [ ]:
# 6047 : [기초-비트시프트연산] 2의 거듭제곱 배로 곱해 출력하기
a,b = map(int,input().split())
print(a<<b)

1 3
8

In [ ]:
# 6048 : [기초-비교연산] 정수 2개 입력받아 비교하기1
a, b = map(int, input().split())
print(a<b)

1 9
True

In [ ]:
# 6049 [기초-비교연산] 정수 2개 입력받아 비교하기2
a, b = map(int, input().split())
if a == b:
  print(True)
else:
  print(False)

0 0
True

In [ ]:
# 6050 : [기초-비교연산] 정수 2개 입력받아 비교하기3
a, b = map(int, input().split())
print(a<=b)

0 -1
False

In [ ]:
# 6051 : [기초-비교연산] 정수 2개 입력받아 비교하기4
a, b = map(int, input().split())
print(a != b)

0 1
True

In [ ]:
# 6052 : [기초-논리연산] 정수 입력받아 참 거짓 평가하기
a = int(input())
print(bool(a))

0
False

In [ ]:
# 6053 : [기초-논리연산] 참 거짓 바꾸기
a = bool(int(input()))
print(not a)

1
False

In [ ]:
# 6054 : [기초-논리연산] 둘 다 참일 경우만 참 출력하기
a, b = map(int, input().split())
print(bool(a) == bool(b)) # ==, and

1 1
True

In [ ]:
# 6055 : [기초-논리연산] 하나라도 참이면 참 출력하기
a, b = map(int, input().split())
print(bool(a) & bool(b)) # & or

1 1
True

In [ ]:
# 6056 : [기초-논리연산] 참/거짓이 서로 다를 때에만 참 출력하기
a, b = map(int, input().split())
print(bool(a) and (not bool(b)) or bool(b) and (not(bool(a))))

1 1
False

In [ ]:
# 6057 : [기초-논리연산] 참/거짓이 서로 같을 때에만 참 출력하기
a, b = map(int, input().split())
print(bool(a) == bool(b))

1 1
True

In [ ]:
# 6058 : [기초-논리연산] 둘 다 거짓일 경우만 참 출력하기
a, b = map(int, input().split())
print(not (a or b)) # not a and not b = not (a or b)

0 0
True

In [ ]:
# 6059 : [기초-비트단위논리연산] 비트단위로 NOT 하여 출력하기
# ~n = -n -1
# -n = ~n + 1
a = int(input())
print(~a)

2
-3

In [ ]:
# 6060 : [기초-비트단위논리연산] 비트단위로 AND 하여 출력하기
a, b = map(int, input().split())
print(a&b)

3 5
1

In [ ]:
# 6061 : [기초-비트단위논리연산] 비트단위로 OR 하여 출력하기
a, b = map(int, input().split())
print(a | b)

3 5
7

In [ ]:
# 6062 : [기초-비트단위논리연산] 비트단위로 XOR 하여 출력하기
a, b = map(int, input().split())
print(a ^ b)

3 5
6

3개의 요소로 이루어지는 3항 연산은
"x if C else y" 의 형태로 작성이 된다. <br>
- C : True 또는 False 를 평가할 조건식(conditional expression) 또는 값
- x : C의 평가 결과가 True 일 때 사용할 값
- y : C의 평가 결과가 True 가 아닐 때 사용할 값

In [ ]:
# 6063 : [기초-3항연산] 정수 2개 입력받아 큰 값 출력하기
a, b = map(int, input().split())
if a > b:
  print(a)
elif b > a:
  print(b)
# c = a if a >= b else b 
# print(c)

123 456
456

In [ ]:
# 6064 : [기초-3항연산] 정수 3개 입력받아 가장 작은 값 출력하기
a,b,c  = map(int, input().split())
# d = a if a<b else b 
# e = d if d<c else c
if a < b and a < c:
  print(a)
if b < a and b < c:
  print(b)
if c < a and c < b:
  print(c)
print(min(a,b,c))

3 -1 5
-1
-1

In [ ]:
# 6065 : [기초-조건/선택실행구조] 정수 3개 입력받아 짝수만 출력하기
a,b,c, = map(int, input().split())
if a % 2 == 0:
  print(a)
elif b % 2 == 0:
  print(b)
else:
  print(c)

In [ ]:
# 6066 : [기초-조건/선택실행구조] 정수 3개 입력받아 짝/홀 출력하기
a,b,c = map(int, input().split())
d = [a,b,c]
result = []
for i in d:
  if i % 2 == 0:
    print('even')
  else:
    print('odd')

1 2 8
odd
even
even

In [ ]:
# 6067 : [기초-조건/선택실행구조] 정수 1개 입력받아 분류하기
a = int(input())
if a < 0 and a % 2== 0:
  print('A')
elif a < 0 and a % 2 == 1:
  print('B')
elif a > 0 and a % 2 == 0:
  print('C')
else:
  print('D')

-2147483648
A

In [ ]:
# 6068 : [기초-조건/선택실행구조] 점수 입력받아 평가 출력하기
a = int(input())
if a < 40:
  print('D')
elif a < 70:
  print('C')
elif a < 90:
  print('B')
elif a < 101:
  print('A')

100
A

In [ ]:
# 6069 : [기초-조건/선택실행구조] 평가 입력받아 다르게 출력하기
a = input('')
if a == 'A':
  print('best!!!')
elif a == 'B':
  print('good!!')
elif a == 'C':
  print('run!')
elif a == 'D':
  print('slowly~')
else:
  print('what?')

A
best!!!

In [ ]:
# 6070 : [기초-조건/선택실행구조] 월 입력받아 계절 출력하기
a = int(input())
if a == 12 or a == 1 or a == 2:
  print('winter')
elif 3 <= a <= 5:
  print('spring')
elif 6 <= a <= 8:
  print('summer')
elif 9 <= a <= 11:
  print('fall')

12
winter

In [ ]:
#[모범답안] 6070 : [기초-조건/선택실행구조] 월 입력받아 계절 출력하기
a=int(input())
if a//3==1: # 정수 몫 나누기
    print("spring")
elif a//3==2:
    print("summer")
elif a//3==3:
    print("fall")
else:
    print("winter")

1
winter

In [ ]:
# 6071 : [기초-반복실행구조] 0 입력될 때까지 무한 출력하기
n = 1
while True:
  n = int(input())  
  if n != 0:
    print(n)
  else:
    break

10
10
30
30
0

In [ ]:
# 6072 : [기초-반복실행구조] 정수 1개 입력받아 카운트다운 출력하기1
a = int(input())
while True:
  print(a)
  a -= 1
  if a == 0:
    break

a=int(input())
while a!=0:
    print(a)
    a -= 1

5
5
4
3
2
1

In [ ]:
# 6073 : [기초-반복실행구조] 정수 1개 입력받아 카운트다운 출력하기2
n = int(input())
while n != 0:
  n -= 1
  print(n)

3
2
1
0

In [ ]:
# 6074 : [기초-반복실행구조] 문자 1개 입력받아 알파벳 출력하기
c = ord(input())
t = ord('a') # a기준
while t <= c:
  print(chr(t), end = ' ')
  t += 1

f
a b c d e f

In [ ]:
# 6075 : [기초-반복실행구조] 정수 1개 입력받아 그 수까지 출력하기1
a = int(input())
z = 0
while z <= a:
  print(z)
  z += 1

4
0
1
2
3
4

In [ ]:
# 6076 : [기초-반복실행구조] 정수 1개 입력받아 그 수까지 출력하기2
a = int(input())
for i in range(a+1):
  print(i)

3
0
1
2
3

In [ ]:
# 6077 : [기초-종합] 짝수 합 구하기
n = int(input())
result = 0
for i in range(0,n+1,2):
  result += i
print(result)

5
6

In [ ]:
# 6078 : [기초-종합] 원하는 문자가 입력될 때까지 반복 출력하기
while True:
  s = input()
  print(s)
  if s == 'q':
    break

q
q

In [ ]:
# 6079 : [기초-종합] 언제까지 더해야 할까?
n = int(input())
result = 0
for i in range(0,1000):
  result += i
  if result >= n:
    print(i)
    break

55
10

In [ ]:
# 6080 : [기초-종합] 주사위 2개 던지기
a, b = map(int, input().split())
for i in range(1,a+1):
  for j in range(1, b+1):
    print(i,j)

2 3
1 1
1 2
1 3
2 1
2 2
2 3

In [ ]:
# 6081 : [기초-종합] 16진수 구구단 
n = int(input(),16)
for i in range(1, 16):
  print('%X'%n, '*%X'%i, '=%X'%(n*i), sep='')
  # print('%X*%X=%X'%(n,i,(n*i)))

B
B*1=B
B*2=16
B*3=21
B*4=2C
B*5=37
B*6=42
B*7=4D
B*8=58
B*9=63
B*A=6E
B*B=79
B*C=84
B*D=8F
B*E=9A
B*F=A5

In [ ]:
# 6082 : [기초-종합] 3 6 9 게임의 왕이 되자
n = int(input())
result = 0
for i in range(1, n+1):
  if i % 10== 3 or i % 10 == 6 or i % 10 ==9:
    print('X', end = ' ')
  else:
    print(i, end = ' ')

9
1 2 X 4 5 X 7 8 X

In [ ]:
# 6083 : [기초-종합] 빛 섞어 색 만들기
r,g,b = map(int, input().split())
for i in range(0,r):
  for j in range(0,g):
    for z in range(0,b):
      print(i,j,z)
print(r*g*b)

2 2 1
0 0 0
0 1 0
1 0 0
1 1 0
4

In [ ]:
# 6084 : [기초-종합] 소리 파일 저장용량 계산하기
a,b,c,d = map(int, input().split())
totalbit = a*b*c*d
totalbyte = totalbit/8
totalkb = totalbyte/1024
totalmb = totalkb/1024

print(f'{totalmb:0.1f} MB')

# print(round(a*b*c*d/8/1024/1024, 1), "MB")

44100 16 2 10
1.7 MB

In [ ]:
# 6085 : [기초-종합] 그림 파일 저장용량 계산하기
r,g,b = map(int, input().split())
print('%.2f'%float(r*g*b/8/1024/1024),'MB')

1024 768 24
2.25 MB

In [ ]:
# 6086 : [기초-종합] 거기까지! 이제 그만
n = int(input())
s,c = 0,0
while True:
  s += c
  c += 1
  if s >= n:
    break

print(s)

90
91

In [ ]:
# 6087 : [기초-종합] 3의 배수는 통과
n = int(input())
for i in range(1,n+1):
  if i % 3 == 0:
    pass # continue 다음 반복 단계로 넘어간다.
  else:
    print(i, end = ' ')

10
1 2 4 5 7 8 10

# 등차수열

In [ ]:
# 6088 : [기초-종합] 수 나열하기1
a, d, n = map(int, input().split()) # 시작 값(a), 등차의 값(d), 몇 번째 수 인지를 의미하는 정수(n)
print(a+d*(n-1))
# 등차수열 a+(n-1)d

1 3 5
13

# 등비수열

In [ ]:
# 6089 : [기초-종합] 수 나열하기2
a,r,n = map(int, input().split())
print(a*(r**(n-1)))
# 등비수열 a*r^(n-1)

# for i in range(1, n) :
#   a = a*r

2 3 7
1458

# 수열

In [ ]:
# 6090 : [기초-종합] 수 나열하기3
a, m, d, n = map(int, input().split())
for i in range(1, n):
  a *= m
  a += d
print(a)

# a = a*m+d

1 -2 1 8
-85

# 최소공배수를 다른 방법으로

In [ ]:
# 6091 : [기초-종합] 함께 문제 푸는 날
a,b,c = map(int, input().split())
d = 1
# d를 a,b,c로 나눈 나머지가 0이 아닐경우
while (d % a != 0) or (d % b != 0) or (d % c != 0): 
  d += 1
print(d)

3 7 9
63

In [ ]:
# 6092 : [기초-리스트] 이상한 출석 번호 부르기1 
n = int(input()) # 개수를 입력받아 n에 정수로 저장
a = input().split() # 공백을 기준으로 잘라 a에 순서대로 저장

for i in range(n):
  a[i] = int(a[i]) # a원소들 숫자로 바꿈

d = []                     #d라는 이름의 빈 리스트 [ ] 변수를 만듦. 대괄호 기호 [  ] 를 사용한다.
for i in range(24) :  #[0, 0, 0, ... , 0, 0, 0] 과 같이 24개의 정수 값 0을 추가해 넣음
  d.append(0)        #각 값은 d[0], d[1], d[2], ... , d[22], d[23] 으로 값을 읽고 저장할 수 있음.

for i in range(n) :    #번호를 부를 때마다, 그 번호에 대한 카운트 1씩 증가
  d[a[i]] += 1

for i in range(1, 24) :  #카운트한 값을 공백을 두고 출력
  print(d[i], end=' ')

10
1 3 2 2 5 6 7 4 5 9
1 2 1 1 2 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [ ]:
# 6093 : [기초-리스트] 이상한 출석 번호 부르기2
n = int(input())
a = input().split()
for i in range(n-1, -1,-1):
  print(a[i], end=' ')

# a.reverse()
# for i in range(n):
#   print(a[i], end = ' ')

10
10 4 2 3 6 6 7 9 8 5
5 8 9 7 6 6 3 2 4 10

##리스트안에 문자열을 숫자로 바꾸기

#### 방법1
a = list(map(int,input().split()))

#### 방법2
a = input().split()<br>
b = [int(i) for i in a]

#### 방법3
a = input().split()<br>
for i in range(n) :<br>
    a[i] = int(a[i])

In [ ]:
# 6094 : [기초-리스트] 이상한 출석 번호 부르기3
n = int(input())

# 리스트의 문자열을 숫자로 바꾸는 방법1
a = list(map(int,input().split()))

# 리스트의 문자열을 숫자로 바꾸는 방법2
# a = input().split()
# b = [int(i) for i in a]

# 작은 수 출력1
# for i in range(n):
#   a.sort()
# print(a[0])

# 작은 수 출력1
b = 0
for i in range(n):
  b = min(a)
print(b)

10
10 4 2 3 6 6 7 9 8 5
2

In [ ]:
n = int(input())
a = input().split()

for i in range(n) :
  a[i] = int(a[i])
print(type(a[1]))

3
1 3 5
<class 'int'>

### 2차원 만들기 (ex. 바둑판)

In [ ]:
# 6095 : [기초-리스트] 바둑판에 흰 돌 놓기
d=[]                   #대괄호 [ ] 를 이용해 아무것도 없는 빈 리스트 만들기
# 바둑판 만들기 (2차원)
for i in range(20) :
  d.append([])         #리스트 안에 다른 리스트 추가해 넣기
  for j in range(20) : 
    d[i].append(0)    #리스트 안에 들어있는 리스트 안에 0 추가해 넣기

n = int(input())
for i in range(n) :
  x,y = map(int, input().split())
  d[x][y] = 1 # 결과값 1 추가

for i in range(1, 20) :
  for j in range(1, 20) : 
    print(d[i][j], end=' ')    #공백을 두고 한 줄로 출력
  print()                     #줄 바꿈

5
1 1
2 2
3 3
4 4
5 5
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [ ]:
# 6096 : [기초-리스트] 바둑알 십자 뒤집기
d=[]
for i in range(20) :
  d.append([])
  for j in range(20) : 
    d[i].append(0)

for i in range(19) :
  a = input().split()
  for j in range(19) :
    d[i+1][j+1] = int(a[j])

n = int(input())
for i in range(n) :
  x,y=input().split()
  x=int(x)
  y=int(y)
  for j in range(1, 20) :
    if d[j][y]==0 :
      d[j][y]=1
    else :
      d[j][y]=0

    if d[x][j]==0 :
      d[x][j]=1
    else :
      d[x][j]=0

for i in range(1, 20) :
  for j in range(1, 20) :
    print(d[i][j], end=' ')
  print()

<pre>
리스트 컴프리헨션 2차원
1. [ [0] * n for _ in range(m) ]
  1번은 배열 안에 2차원 배열을 선언한다.

2. [ [0] * n ] * m
  2번은 배열 안에 배열들을 선언하는 게 아니라 각각 배열들을 선언한다.



https://wikidocs.net/22805

In [ ]:
# 6097 : [기초-리스트] 설탕과자 뽑기
h, w = map(int, input().split())
m = [[0]*w for _ in range(h)] #2차원 만들 때 '리스트 컴프리헨션' 문법
n = int(input())

for i in range(n):
  l,d,x,y = map(int, input().split())
  for j in range(l):
    # x, y에서 1씩 빼주는 이유는 입력 좌표 x, y가 0,0부터 시작하는 것이 아닌 1,1부터 시작하기 때문
    if d == 0: # 가로
      m[x-1][y-1+j] = 1 # d가 0일 때 (가로일 때)는 [x-1][y-1+j] 만큼의 위치를 1로 변환
    else:
      m[x-1+j][y-1] = 1 # d가 0일 때 (세로일 때)는 [x-1+j][y-1] 만큼의 위치를 1로 변환

for i in range(h):
  for j in range(w):
    print(m[i][j], end = '')
  print(end='\n')

5 5
3
2 0 1 1
3 1 2 3
4 1 2 5
11000
00101
00101
00101
00001

In [ ]:
# 6098 : [기초-리스트] 성실한 개미
array = []
for i in range(10):
  array.append(list(map(int, input().split())))

x,y = 1,1 # (2,2)에서 출발

while True:
  # 현재 칸이 0이라면 9로 변환하고, 현재 칸이 2라면 9로 변환한 뒤 반복문 종료
  if (array[x][y] == 0):
    array[x][y] = 9
  elif (array[x][y] == 2):
    array[x][y] = 9
    break

  # 오른쪽과 아래가 모두 1이라면 반복문 종료
  if (array[x][y+1] == 1 and array[x+1][y] == 1) or (x == 9 and y == 9):
    break

  # 오른쪽이 1이 아니라면 y를 증가(이동)시키고, 오른쪽이 1이고 아래쪽이 1이 아니라면 x를 증가
  if (array[x][y+1] != 1):
    y += 1
  elif (array[x+1][y] != 1):
    x += 1

for i in range(10):
  for j in range(10):
      print(array[i][j], end = ' ')
  print()