<a href="https://colab.research.google.com/github/cge1111/pythonbasic/blob/main/FridayQuiz0226.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 27번 딕셔너리 만들기

key = input().split()
value = map(int, input().split()) # 숫자로 바꿈

print(dict(zip(key,value)))

Yujin Hyewon
70 100
{'Yujin': 70, 'Hyewon': 100}

In [6]:
# 28번 2-gram
txt = input()  #python 6글자
for i in range(len(txt)-1):  # 6  = 0,1,2,3,4,5

  print(txt[i],txt[i+1],sep='')

python
py
yt
th
ho
on

In [10]:
# 29번 대문자만 지나가세요 
# isupper or islower (대문자 인지 소문자인지 확인)
# ord 함수: ascii 코드 값을 확인 (대,소문자를 숫자로 변환)
# chr 함수: ord 함수와 반대
# isdigit 숫자인지 확인

# 풀이 1 [isupper 활용]
a = input()
if a.isupper():
  print('YES')
else:
  print('No')

# 풀이 2 [ord 활용]
alpha = input()
if ord(alpha) >= 65 and ord(alpha) <= 90:  # a의 아스키 코드 값이 나옴
  print('YES')
else:
  print('NO')

b
No

In [15]:
# 30번 문자열 속 문자 찾기 !!!중요!!! 
# index 함수: 찾는 값이 없을경우 error 위치 변환
# find 함수: 찾는 값이 없을경우 -1 출력
a='pineapple is yummy'
print(a.find('apple'))

4

In [ ]:
# 31번 객관식 파이썬 자료형의 복잡도 : O(1)[빅O 표기법->알고리즘]
# ③ 이외에 한번에 끝나지만 ~에서~ 끝나기 때문에 3번이 답

In [27]:
# 32번 문자열 만들기
# len, split

# txt = input().split()
# print(len(txt))

txt=input()
a=list(txt.split())
print(len(a))

# txt=" 빅데이터 "
# print(txt.strip()) # 앞, 뒤 공백지우기

저 넓은 세상을 네 눈앞에 그려봐 네 진심을 느껴봐
9

In [50]:
# 33번 거꾸로 출력하기
# for문 리스트 축약

txt = input()
txt2 = list(txt.split()) # 받은 값들을 잘라 리스트로 만든다 (문자)
txt3 = [int(i)for i in txt2]  # 문자->숫자로 바꾸어준다.

for i in range(len(txt3)-1,-1,-1):
  print(txt3[i], end=' ')

# 풀이 2 : pop사용
# a=list(input().split())
# for i in range(0, len(a)): # range함수 안에 len을 넣으면 for ~ range(n):과 같다
#   print(a.pop(),end=' ')

1 2 3 4 5
5 4 3 2 1

In [52]:
# 34번 sort구현하기
# <list>.sort()를 사용하면 원본 리스트 자체의 순서를 변화시킨다.
# sorted(<list)>를 사용하면 정렬된 새로운 리스틀 반환 받는다.
# <list>.sort는 새로운 복사본을 만들지 않기 때문에 sorted(<list>) 보다 빠르다.

num1 = input()
num2 = num1.strip().split() # 리스트로 정렬
num3 = [int(i) for i in num2] # 숫자로 바꿈 , print(num3) 

if num3 != sorted(num3):
  print('NO')
else:
  print('YES')

1 2 3 4 5
YES

In [64]:
# 36번 구구단 출력하기 (35생략)
num=int(input())

for n in range(1,10):
    print(num*n,end=' ')

2
2 4 6 8 10 12 14 16 18

In [2]:
# 37번 count 사용하기
# count 함수
# 기본 문법 ; 변수.count(찾는값)

a=input().split()
b=list(set(a)) # 중복 제거를 위해 세트화하여 별도의 리스트

max=0 # 선별을 위한 구분자 (임시 변수=0)

for i in  range(len(b)): # 0,1,2... print("현재":%d %max_men), print("%d" %a.count(b[i]))
  if a.count(b[i]) > a.count(b[max]):
    max = i # 최댓값을 계속 찾음 print("%d로 변경되었습니다. \n" % max_men)

# 채연의 개수 2 > 채연의 개수 2
# 은비의 개수 4 > 채연의 개수 2 ,max=1
# 원영의 개수 2 > 은비의 개수 4, max=1

print('%s(이)가 총 %d로 반장이 되었습니다.'%(b[max],a.count(b[max])))

# print(a)['원영', '원영', '은비', '은비', '은비', '은비', '채연', '채연']
# print(b) ['채연', '은비', '원영']

원영 원영 은비 은비 은비 은비 채연 채연
은비(이)가 총 4로 반장이 되었습니다.

In [3]:
# 38번 오타 수정하기 replace 함수
a=input()
print(a.replace('q','e'))

qqqq ejfifiq eeee qqqqq
eeee ejfifie eeee eeeee

In [6]:
# 41번 소수판별

a=int(input()) # 숫자를 입력 받는다. # 11
result=0 # result 변수를 초기화

for i in range(1, a+1):  # 반복문 (그 수까지)
  if a % i == 0:  # 조건 입력받은 수를 그 수 앞에 모든 수로 나눈 나머지 값이 0이면
    result += 1   # result값을 하나씩 증가

if result == 2: # result 값이 2면 
  print('YES')

else:
  print('NO')

7
YES

In [2]:
# 44번 각 자리수의 합

num=input()
print(sum(map(int,num)))

# 풀이 2: 정석

# n = list(map(int,input())) # 숫자로 입력받기
# sum=0  
# for i in n: # 반복문: 입력 받은 숫자를 하나씩
#   sum +=  1 # 누적합계 구하기
# print(sum) # 합계 출력

# 풀이 3 for문에서 input입력해버리자

# sum=0
# for i in input():
#   sum += int(i)

# print(sum)

123
6

In [25]:
# 46번 str 자료형의 응용 !!(문제 변경): 임의수를 입력 받아서 계산하기 !!

a=input()
sum=0
for i in list(a): 
  for j in str(i):  # 11->1,1로 분리해줌
    sum +=int(j)
print(sum)

# sum = 0
# for i in list(range(21)):
#   print(i)
#   for j in str(i):
#     print(j)
#     sum += int(j)
#     print(sum)
# print(sum)

124667
26