<a href="https://colab.research.google.com/github/cge1111/pythonbasic/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
nums = [100,200,300,400,500]
del (nums[3:])
print(nums)

[100, 200, 300]

In [9]:
num = [100,200,300,400,500]
num[:3]

[100, 200, 300]

In [13]:
nums = [100,200,300,400,500]
nums.pop()
nums.pop()

400

In [14]:
print(nums)

[100, 200, 300]

In [15]:
# nums = [100,200,300,400,500]
# del nums[3] [100,200,300,500]
# del nums[4] 4가 없어짐

In [23]:
i= [200,100,300]
i.insert(2,10000)

In [24]:
print(i)

[200, 100, 10000, 300]

In [27]:
i=[100,200,300]
print(type(1))

<class 'int'>

In [42]:
n = int(input('몇단짜리 크리스마스 트리를 만들까요? :'))
for i in range(1,n+1):   #n=5라고 가정
    print(" " * (n-i) + "*" * (2*i-1))  #홀수공식(2n-1)

몇단짜리 크리스마스 트리를 만들까요? :6
     *
    ***
   *****
  *******
 *********
***********

In [43]:
#11번

In [55]:
s = 0
for i in range(1,101):
   s += i

print(s)

5050

In [57]:
class Wizard:
    def __init__(self,health,mana,armor):
        self.health = health
        self.mana = mana
        self.armor = armor
    def attack(self):
      print("파이어볼")

x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x. mana, x.armor)
x.attack()

545 210 10
파이어볼

In [58]:
planets = ['수성','금성','지구','화성','목성','토성','천왕성','해왕성']
n = int(input('몇번째 행성이름을 알고 싶은신가요? :'))
print(planets[n-1])

몇번째 행성이름을 알고 싶은신가요? :3
지구

In [60]:
#12번 게임 캐릭터 클래스 만들기
class Wizard:
    def __init__(self,health,mana,armor): #생성자를 생성하여 객체안에 집어 넣는다
        self.health = health
        self.mana = mana
        self.armor = armor
    def attack(self):
      print("파이어볼")

x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x. mana, x.armor)
x.attack()

545 210 10
파이어볼

In [61]:
#13번 몇 번째 행성인가요?
planets = ['수성','금성','지구','화성','목성','토성','천왕성','해왕성']
n = int(input('몇번째 행성이름을 알고 싶은신가요? :'))
print(planets[n-1])

몇번째 행성이름을 알고 싶은신가요? :2
금성

In [62]:
#14번 3의 배수 인가요?
n = int(input('숫자를 입력하세요 :'))
while True:
    if n % 3 == 0:
        print('짝')
    else:
        print(n)
    break

숫자를 입력하세요 :3
짝

In [63]:
#15번 자기소개
n = input()
print('안녕하세요. 저는 %s입니다.'%n)

최고은
안녕하세요. 저는 최고은입니다.

In [66]:
#16번 거꾸로 뒤집기
a=input('')
for i in range(len(a),0,-1):
    print(a[i-1],end="")
    
# a= input('')
# print(a[::-1]) #그래도 뒤집는 문법

거꾸로
로꾸거

In [65]:
#17번 놀이기구 키 제한
t =int(input('150 이상만 탈 수 있습니다.'))
if t > 150:
    print('YES')
else:
    print('No')

150 이상만 탈 수 있습니다.151
YES

In [67]:
#18번 평균점수
nums = list(map(int,input('점수를 입력하시오:').split()))
print(int(sum(nums)/len(nums)))

점수를 입력하시오:30 40 20
30

In [69]:
#19번 제곱을 구하자
n = list(map(int,input().split()))
print(n[0]**n[1]) 
#n= list(map(int, input().split()))
#print(a**b) 제곱

3 5
243

In [70]:
#20번 몫과 나머지
n = list(map(int,input().split()))
print(n[0] // n[1], n[0] % n[1],sep=" ")

20 4
5 0

In [71]:
#21번 set(집합)객관식
# x={} #set이 아니다 ->dict
# x=set(range(5)) set 맞다
# x=set('python') set 맞다
# x=set() set 맞다
# x={1,2,3,4,5} set 맞다

In [72]:
print(10/2)

5.0

In [73]:
print(10//2)

5

In [74]:
#24번 대문자로 바꿔주세요.
n =input('이름을 입력하세요')

print(n.upper())

#print(input().upper())

이름을 입력하세요mary
MARY

In [75]:
#25번 원의 넓이를 구하시오.
def circle(n):
    return n*n*3.141592

circle(int(input()))

2

12.566368

In [77]:
#26번 행성문제 2 한글->영어
planets = {
    '수성':'mercury',
    '금성':'Venus',
    '지구':'Earth',
    '화성':'mars',
    '목성':'Jupiter',
    '토성':'Saturn',
    '천왕성':'Uranus',
    '해왕성':'Neptune'
}
try:
    n=input('행성을 입력하세요:')
    print(planets[n])
    
except KeyError:
    print('찾는 행성이 없습니다')

행성을 입력하세요:수성
mercury

In [79]:
planets = {
    '수성':'mercury',
    '금성':'Venus',
    '지구':'Earth',
    '화성':'mars',
    '목성':'Jupiter',
    '토성':'Saturn',
    '천왕성':'Uranus',
    '해왕성':'Neptune'
}

print(planets.get(input()))

수성
mercury